@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
}

h4 {
  font-family: "Shrikhand";
}

.titre_menu_coeur h1 {
  font-family: "Shrikhand";
}

.btn_description {
  padding: 18px 30px 18px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}

.btn_restaurants_page {
  margin: 55px 0px 20px 85px;
  padding: 18px 50px 18px 50px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
@media (min-width: 517px) and (max-width: 790px) {
  .btn_restaurants_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}

body {
  margin: 0px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 40px 20px;
}
footer h4 {
  color: white;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 791px) {
  footer h4 {
    font-size: 30px;
  }
}
footer .footer_logo_1 {
  display: flex;
  flex-direction: row;
}
footer .footer_logo_1 p {
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
footer .footer_logo_1 i {
  padding-top: 5px;
}
footer .footer_logo_2 {
  display: flex;
  flex-direction: row;
}
footer .footer_logo_2 p {
  margin: 0px;
  padding: 10px 0px 0px 10px;
  font-size: 17px;
}
footer .footer_logo_2 i {
  padding-top: 15px;
}
footer i {
  color: white;
}
footer p {
  color: white;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
@media (min-width: 791px) {
  footer .footer_partie2 {
    padding-left: 25px;
  }
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
header img {
  width: 190px;
  position: absolute;
}
header i {
  padding-right: 340px;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding: 18px 0px 18px 0px;
}
.localisation p {
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 19px;
}
@media (min-width: 791px) {
  .localisation p {
    font-size: 22px;
  }
}
.localisation i {
  padding-top: 5px;
}

@media (min-width: 517px) and (max-width: 790px) {
  .responsive {
    display: flex;
  }
}
@media (min-width: 791px) {
  .responsive {
    display: flex;
    flex-direction: row;
  }
}

.description_ohmyfood {
  background-color: #f6f6f6;
  text-align: center;
}
@media (min-width: 517px) and (max-width: 790px) {
  .description_ohmyfood {
    width: 50%;
  }
}
@media (min-width: 791px) {
  .description_ohmyfood {
    width: 60%;
  }
}
.description_ohmyfood h1 {
  margin: 0px;
  font-size: 28px;
  font-weight: 700;
  padding: 45px 40px 10px 40px;
}
@media (min-width: 517px) and (max-width: 790px) {
  .description_ohmyfood h1 {
    padding: 75px 0px 0px 0px;
    white-space: wrap;
  }
}
@media (min-width: 791px) {
  .description_ohmyfood h1 {
    padding-top: 90px;
  }
}
.description_ohmyfood p {
  margin: 0px;
  font-size: 19px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px 10px 30px 10px;
}
@media (min-width: 517px) and (max-width: 790px) {
  .description_ohmyfood p {
    padding: 50px 0px 55px 0px;
  }
}
@media (min-width: 791px) {
  .description_ohmyfood p {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 517px) and (max-width: 790px) {
  .menu_fonctionnement {
    width: 50%;
  }
}
@media (min-width: 791px) {
  .menu_fonctionnement {
    width: 40%;
  }
}
.menu_fonctionnement h2 {
  margin: 45px 0px 25px 20px;
}
.menu_fonctionnement .menu_etape {
  margin: 20px 22px 25px 25px;
  position: relative;
}
.menu_fonctionnement .menu_etape::before {
  content: attr(data-order);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 12px);
  left: -11px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  font-size: 13px;
  width: 25px;
  height: 25px;
}
.menu_fonctionnement i {
  color: #7e7e7e;
  padding: 2px 25px 0px 0px;
}
@media (min-width: 791px) {
  .menu_fonctionnement i {
    padding-left: 25px;
  }
}
.menu_fonctionnement h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}
@media (min-width: 791px) {
  .menu_fonctionnement h3 {
    padding-left: 25px;
  }
}
.menu_fonctionnement .menu {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-top: 10px;
  padding: 30px 0px 30px 40px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
.menu_fonctionnement .menu_3 {
  display: flex;
  flex-direction: row;
  background-color: #f5edff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 30px 0px 30px 40px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
.menu_fonctionnement .menu_3 i {
  color: #9356dc;
}

.restaurants_menu {
  background-color: #f6f6f6;
  margin: 70px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 791px) {
  .restaurants_menu .responsive_ordi {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 517px) and (max-width: 790px) {
  .restaurants_menu .restaurant_rangé1 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 517px) and (max-width: 790px) {
  .restaurants_menu .restaurant_rangé2 {
    display: flex;
    flex-direction: row;
  }
  .restaurants_menu .restaurant_rangé2 .alafrancaise_carte {
    width: 50%;
  }
  .restaurants_menu .restaurant_rangé2 .ledelicedessens_carte {
    width: 50%;
  }
}
.restaurants_menu h2 {
  margin: 0px 0px 0px 20px;
  padding: 60px 0px 30px 0px;
}
.restaurants_menu a {
  text-decoration: none;
  color: black;
}
.restaurants_menu .restaurants_carte {
  background-color: white;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
@media (min-width: 791px) {
  .restaurants_menu .restaurants_carte {
    width: 450px;
  }
}
.restaurants_menu .restaurants_carte img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants_menu .restaurants_carte .titre_coeur {
  display: flex;
  flex-direction: row;
  gap: 140px;
  justify-content: space-between;
}
.restaurants_menu .restaurants_carte h3 {
  margin: 10px 0px 0px 15px;
  font-size: 20px;
}
.restaurants_menu .restaurants_carte p {
  margin: 0px 0px 15px 15px;
  font-size: 18px;
  padding-bottom: 10px;
}
.restaurants_menu .restaurants_carte i {
  margin: 30px 20px 0px 0px;
}

.photo_restaurant img {
  width: 100%;
  position: absolute;
}

.background {
  background-color: #f6f6f6;
  position: relative;
  margin-top: 250px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.menu_complet {
  padding-left: 20px;
  padding-right: 20px;
}
.menu_complet h1 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 400;
}
.menu_complet .titre_menu_coeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_complet i {
  padding: 50px 30px 0px 0px;
}

.menu_entrees h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.menu_entrees .entree {
  background-color: white;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
.menu_entrees .entree p {
  display: flex;
  flex-direction: row;
}
.menu_entrees .description_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_entrees h3 {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
}
.menu_entrees p {
  margin: 0px 0px 0px 0px;
  padding: 5px 25px 10px 10px;
}
.menu_entrees .prix_gras {
  font-weight: 700;
}

.menu_plats h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.menu_plats .plat {
  background-color: white;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
.menu_plats .plat p {
  display: flex;
  flex-direction: row;
}
.menu_plats .description_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_plats h3 {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
}
.menu_plats p {
  margin: 0px 0px 0px 0px;
  padding: 5px 25px 10px 10px;
}
.menu_plats .prix_gras {
  font-weight: 700;
}

.menu_desserts h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.menu_desserts .dessert {
  background-color: white;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
  cursor: pointer;
}
.menu_desserts .dessert p {
  display: flex;
  flex-direction: row;
}
.menu_desserts .description_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_desserts h3 {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
}
.menu_desserts p {
  margin: 0px 0px 0px 0px;
  padding: 5px 25px 10px 10px;
}
.menu_desserts .prix_gras {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
