.btn_description{
    padding: 18px 30px 18px 30px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    background-color: #FF79DA ;
    color: white;
}