.btn_description{
    padding: 18px 30px 18px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
    background: linear-gradient(to left top, #9356DC , #FF79DA);;
    color: white;

}