.photo_restaurant {
  img {
    width: 100%;
    position: absolute;
    height: -webkit-fill-available;
  }
}
.background {
  background-color: #f6f6f6;
  height: 100%;
  position: relative;
  margin-top: 250px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu_complet {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  h1 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 400;
  }
  .titre_menu_coeur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:hover i {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background: linear-gradient(
        to left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      background: -webkit-linear-gradient(
        to left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
  }
  i {
    padding: 50px 30px 0px 0px;
  }
}
.menu_entrees {
 
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
  }
  .entree {
    background-color: white;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: affichageentree 1.5s forwards;
    &:hover{
     
      .prix_gras{
      animation: decalage 1.5s forwards;
      }
      }

    &:hover {
      .check {
        animation: decalage 1.5s forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &::before {
          animation: tourne 1s forwards linear;
        }
      }
    }
    .check {
      position: absolute;
      transform: translateX(0);
      top: 0;
      right: -80px;
      background-color: #99e2d0;
      height: 100%;
      width: 80px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      text-align: center;

      &::before {
        content: "✓";
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: #99e2d0;
        background-color: white;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 15px;
        animation: rotation 1.5s forwards;
      }
    }
  }
}
.description_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover{
    text-overflow: ellipsis;
  }
}
.description {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
h3 {
  margin: 0px;
  padding: 10px 0px 0px 10px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 65%;
  &:hover{
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    
  }
  
}
p {
  margin: 0px 0px 0px 0px;
  padding: 5px 20px 10px 10px;
}
.prix_gras {
  font-weight: 700;
  padding-left: 100px;

}

.menu_plats {
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
  }
  .plat {
    background-color: white;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
    cursor: pointer;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: affichageplat 1.5s forwards;
    &:hover{
      .prix_gras{
      animation: decalage 1.5s forwards;
      }
      }

    &:hover {
      .check {
        animation: decalage 1.5s forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          animation: tourne 1s forwards linear;
        }
      }
    }
    .check {
      position: absolute;
      transform: translateX(0);
      top: 0;
      right: -80px;
      background-color: #99e2d0;
      height: 100%;
      width: 80px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      text-align: center;

      &::before {
        content: "✓";
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: #99e2d0;
        background-color: white;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 15px;
        animation: rotation 1.5s forwards;
      }
    }
  }
  .description_prix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .description {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  h3 {
    margin: 0px;
    padding: 10px 0px 0px 10px;

    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  p {
    margin: 0px 0px 0px 0px;
    padding: 5px 25px 10px 10px;
  }
  .prix_gras {
    font-weight: 700;
  }
}
.menu_desserts {
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
  }
  .dessert {
    background-color: white;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(91, 91, 91, 0.307);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: affichagedessert 1.5s forwards;
    &:hover{
      .prix_gras{
      animation: decalage 1.5s forwards;
      }
      }

    &:hover {
      .check {
        animation: decalage 1.5s forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          animation: tourne 1s forwards linear;
        }
      }
    }
    .check {
      position: absolute;
      transform: translateX(0);
      top: 0;
      right: -100px;
      background-color: #99e2d0;
      height: 100%;
      width: 100px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      text-align: center;

      &::before {
        content: "✓";
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: #99e2d0;
        background-color: white;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 15px;
      }
    }
    p {
      display: flex;
      flex-direction: row;
    }
  }
  .description_prix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .description {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  h3 {
    margin: 0px;
    padding: 10px 0px 0px 10px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  p {
    margin: 0px 0px 0px 0px;
    padding: 5px 25px 10px 10px;
  }
  .prix_gras {
    font-weight: 700;
  }
}
@keyframes fill {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 2;
  }
  60% {
    transform: scale(0);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes decalage {
  0% {
  }
  10% {
    transform: translate(-25px);
  }
  100% {
    transform: translate(-80px);
  }
}
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes affichageentree{
  0%{
      opacity: 0;
  }
  30%{
opacity: 0.5;
  }
  60%{
    opacity: 1;
  }
}
@keyframes affichageplat{
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0.5;
  }
  80%{
    opacity: 1;
  }
}
@keyframes affichagedessert {
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}